label,
input[type="submit"],
input[type="text"],
input[type="password"],
a {
    display: block;
    margin-bottom: 3%;
    width: 100%;
    font-size: 100%;
}

input[type="submit"] {
    background: #009900;
    color: white;
    cursor: pointer;
    border-radius: 20px;
    padding: 1%;
}

body {
    font-family: 'Times New Roman', Times, serif;
    width: 40%;
    display: block;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: darkgreen;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.titulo {
    font-size: 125%;
    text-align: center;
    padding: 5%;
}

.campos {
    padding: 5%;
}

.all {
    background-color: white;
    border-radius: 5%;
    padding: 1%;
}

input[type="button"] {
    display: inline-block;
    margin: auto;
    margin-top: 20%;
    margin-bottom: 20%;
    color: black;
    background: white;
    width: 100%;
    font-size: 100%;
}

.index img {
    display: block;
    margin-left: 0%;
    margin-right: 0%;
    border-radius: 34%;
}

.flex-container {
    display: flex;
}

.flex-container>div {
    margin: auto;
    padding: 20px;
    font-size: 100%;
}

.botao input[type="button"] {
    display: block;
    padding: 20px;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    color: black;
    background: white;
    width: 100%;
    font-size: 100%;
    text-align: center;
}

.materias {
    background-color: white;
    border-radius: 5%;
    padding: 5%;
}

.prova {
    padding: 5%;
    margin: auto; 
    border-radius: 5%;
}

/*INDEX*/
*{
    margin:0;
    padding:0;
}

.menu{
    width: 100%;
    height: 50px;
    margin-top: 0%;
    background-color: rgba(0, 0, 0, 0);
    font-family: 'Times New Roman';
}

.menu ul{
    list-style: none;
    position: relative;
}

.menu ul li{
    width: 100px;
    float: left;
}

.menu a{
    padding: 15px;
    display: block;
    text-decoration: none;
    text-align: center;
    background-color: #009900;
    color: white;
}

.menu ul ul{
    position: absolute;
    visibility: hidden;
}

.menu ul li:hover ul{
    visibility: visible;
}

.menu a:hover{
    background-color: #71e612e7;
    color: rgb(0, 0, 0);
}

.menu ul ul li{
    float:none;
    border-bottom: solid 1px rgba(124, 255, 2, 0.527)
}

.menu ul ul li a{
    background-color: rgba(9, 252, 110, 0.781);
}

label[for="btn_menu"]{
    padding: 5px;
    background-color: #009900;
    color: #000000;
    font-family: "Times New Roman";
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    width: 50px;
    height: 50px;
}

#bnt_menu{
    display:none;
}

label[for="btn_menu"]{
    display: none;
}
