label,
input[type="submit"],
input[type="text"],
input[type="password"],
a {
    display: block;
    margin-bottom: 3%;
    width: 100%;
    font-size: 125%;
    text-decoration: none;
}

input[type="submit"] {
    background: #009900;
    color: white;
    cursor: pointer;
    border-radius: 20px;
    padding: 1%;
}

body {
    font-family: 'Times New Roman', Times, serif;
    width: fit-content;
    display: block;
    background-color: darkgreen;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.titulo {
    font-size: 125%;
    text-align: center;
    padding: 5%;
}

.campos {
    padding: 5%;
    width: max-content;
}

.all {
    background-color: white;
    border-radius: 5%;
    padding: 1%;
}

.all img {
    margin-top: 5%;
}

input[type="button"] {
    display: inline-block;
    margin: auto;
    margin-top: 20%;
    margin-bottom: 20%;
    color: black;
    background: white;
    width: 100%;
    font-size: 100%;
}

.flex-container {
    display: flex;
}

.flex-container>div {
    margin: auto;
    padding: 20px;
    font-size: 100%;
}

.botao input[type="button"] {
    display: block;
    padding: 20px;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    color: black;
    background: white;
    width: 100%;
    font-size: 100%;
    text-align: center;
}

.materias {
    background-color: white;
    border-radius: 5%;
    padding: 5%;
}

.prova {
    padding: 5%;
    margin: auto;
    border-radius: 5%;
}

h2 {
    margin: auto;
    font-size: 200%;
    margin-top: 5%;
    display: block;
    width: fit-content;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 125%;
}

.link a {
    margin-top: -5%;
}

* {
    padding: 0px;
    margin-top: 0%;
}

.menuu * {
    margin-top: -5%;
}

.menuu label * {
    margin-left: 0%;
}

.menuu body {
    display: block;
    font-family: 'Times New Roman';
}

.a a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}

.menuu img {
    display: block;
    float: left;
    width: 50%;
}

.menuu label[for="chec"] {
    display: inline-block;
    width: fit-content;
}

.menuu input[type="checkbox"] {
    display: none;
    float: left;
}

nav {
    background-color: rgb(4, 80, 10);
    margin-top: 0%;
    width: 45%;
    height: 100%;
    left: -45%;
    position: absolute;
    transition: all .5s;
}

.menuu input[type="checkbox"]:checked~nav {
    transform: translateX(100%);
}

ul {
    top: 15%;
    position: absolute;
    width: 92%;
    padding: 20px;
}

.a a {
    display: block;
    padding: 5% 1%;
    color: #ffffff;
}

.a a:hover {
    background-color: hsla(115, 100%, 74%, 0.993);
    color: rgb(4, 80, 10);
}

.menuu label {
    padding: 20px;
    position: absolute;
    z-index: 1;
    width: 50%;
    left: 0%;
}