<!DOCTYPE html>
<html lang="eng">

<head>
    <meta charset="utf-8" >
    <meta name="viewport" content="width=device-width, initial scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Respostas IFSP</title>
    <link rel="stylesheet" href="/css/estilo.css">
</head>


<body>
    <header>
        <div class="menuu">
            <input type="checkbox" id="chec">
            <label for="chec">
                <img src="/img/menu.png">
            </label>
            <nav>
                <div class="a">
                    <ul>
                        <li><a href="index">Home</a></li>
                        <li><a href="menu_materias">Menu Materias</a></li>
                        <li><a href="postar_duvida/identificada">Postagem de Dúvidas</a></li>
                        <li><a href="login">Login</a></li>
                        <li><a href="perfil">Perfil</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    {{{body}}}

    <footer>
        <p></p>
    </footer>
</body>

</html>