<div class="titulo">
    <h1>Respostas IFSP</h1>
</div>
<h2>Dúvidas recentes<br/><br/></h2>
<div class="pergunta">
        {{#each duvidas}}
                <p>Usuário: {{this.Usuario_Prontuario}} </p>
                <p>Dúvida: {{this.Duvida}}</p><br />
        {{/each}}
</div>