<div class="materias">

    <img src={{{img}}} width="200px" height="200px">
    <div class="titulo">
        <h2>{{{Titulo}}}</h2>
    </div>
    <div class="botao">
        <a href="postar_duvida/identificada"><input type="button" value="Tirar dúvidas"></a>
        <a href="postar_duvida/anonimo"><input type="button" value="Tirar dúvidas como usuário anônimo"></a>
        <a href="tema_prova"><input type="button" value="Provas para testar seu conhecimento"></a>
    </div>
</div>