<div class="materias">
    <img src="/img/biologia.png" width="200px" height="200px">
    <div class="titulo">
        <h2>Biologia</h2>
    </div>
    <div class="botao">
        <a href="/postar_duvida"><input type="button" value="Tirar dúvidas"></a>
        <a href="/tema_prova"><input type="button" value="Provas para testar seu conhecimento"></a>
    </div>
</div>