<div><img src="img/Logo-PJI.jpg" width="200px" height="200px"></div>
<div class="flex-container">
    <div class="button">
        <img src="img/biologia.png" width="150px" height="150px" alt="icone biologia">
        <a href="materia/biologia"><input type="button" onclick="myFunction()" value="Biologia" name="Biologia"></a>
        <img src="img/filosofia.png" width="150px" height="150px" alt="icone filosofia">
        <a href="materia/filosofia"><input type="button" onclick="myFunction()" value="Filosofia" name="Filosofia"></a>
        <img src="img/fisica.png" width="150px" height="150px" alt="icone física">
        <a href="materia/fisica"><input type="button" onclick="myFunction()" value="Física" name="Física"></a>
        <img src="img/geografia.png" width="150px" height="150px" alt="icone geografia">
        <a href="materia/geografia"><input type="button" onclick="myFunction()" value="Geografia" name="Geografia"></a>
        <img src="img/historia.png" width="150px" height="150px" alt="icone história">
        <a href="materia/historia"><input type="button" onclick="myFunction()" value="História" name="História"></a>
    </div>
    <div class="button">
        <img src="img/ingles.png" width="150px" height="150px" alt="icone ingles">
        <a href="materia/ingles"><input type="button" onclick="myFunction()" value="Inglês" name="Inglês"></a>
        <img src="img/math.png" width="150px" height="150px" alt="icone matemática">
        <a href="materia/matematica"><input type="button" onclick="myFunction()" value="Matemática" name="Matemática"></a>
        <img src="img/portugues.png" width="150px" height="150px" alt="icone português">
        <a href="materia/portugues"><input type="button" onclick="myFunction()" value="Português" name="Português"></a>
        <img src="img/quimica.png" width="150px" height="150px" alt="icone química">
        <a href="materia/quimica"><input type="button" onclick="myFunction()" value="Química" name="Química"></a>
        <img src="img/sociologia.png" width="150px" height="150px" alt="icone sociologia">
        <a href="materia/sociologia"><input type="button" onclick="myFunction()" value="Sociologia" name="Sociologia"></a>
    </div>
</div>