<div class="perfil">
    <div class="titulo">
        <h1>Perfil</h1>
    </div>
    <div>
        <img src="img/perfil.png">
        <label for="Nome">Nome: XXXXXX XXXXXX </label>
        <label for="Curso">Curso: XXXXXX</label>
        <label for="Prontuario">Prontuário: XXXXXXX</label>
        <label class="Descrição" for="Descrição">Descrição:</label>
        <textarea id="desc"></textarea>
        <input type="submit" value="Editar perfil" />
    </div>
</div>