<div class="duvida">
    <form action="" method="POST">
        <div class="titulo">
            <h1>Postar Dúvida</h1>
        </div>
        <div class="flex-container">
            <img src={{{img}}} width="140px" height="100px">
            <div class="campos">
                <label>{{{nome}}}</label>
                <label class="Duvida" for="Dúvida:">Dúvida: </label>
                <textarea id="msg"></textarea>
                <input type="submit" value="Enviar Dúvida" />
            </div>
        </div>
    </form>
</div>