<div class="all">
        <img src="img/biologia.png" width="200px" height="200px">
        <div class="titulo">
            <label>Selecione os temas para prova de Biologia</label>
        </div>

        <form action="" method="GET">
            <div class="prova">
                <div>
                    <input type="checkbox" name="opcao" />Origem e formação dos seres vivos<br />
                    <input type="checkbox" name="opcao" />Hipóteses sobre a origem da vida e a vida primitiva<br />
                    <input type="checkbox" name="opcao" />Ecossistema<br />
                    <input type="checkbox" name="opcao" />Cadeia alimentar<br />
                    <input type="checkbox" name="opcao" />Relações ecológicas<br />
                    <input type="checkbox" name="opcao" />Ciclos biogeoquímicos<br />
                    <input type="checkbox" name="opcao" />Biomas<br />
                    <input type="checkbox" name="opcao" />Ciclagem de Matéria e Energia<br />
                    <input type="checkbox" name="opcao" />Química celular<br />
                </div>
                <input type="submit" value="Confirmar" />
            </div>
        </form>
    </div>