<div class="all">
        <img src={{{img}}} width="200px" height="200px">
        <div class="titulo">
            <label>Selecione os temas para prova de {{{materia}}}</label>
        </div>

        <form action="" method="GET">
            <div class="prova">
                <div>
                    <input type="checkbox" name="opcao" />{{{tema}}}
                </div>
                <input type="submit" value="Confirmar" />
            </div>
        </form>
    </div>